In [1]:
import pandas as pd
import numpy as np

orcs = pd.read_csv('orcs_cleaned.csv', index_col=0, encoding='utf-8')
orcs

,age,nationality,family,edu_lvl_cl,mil_rank_cl,region
orc_id,,,,,,
2,33,русский,True,среднее,Старший Сержант,Кировская область
3,28,бурят,True,среднее,Младший Сержант,Сахалинская область
4,26,русский,True,среднее,Матрос,Приморский край
5,19,русский,True,среднее,Матрос,Приморский край
8,36,русский,True,среднее,Прапорщик,Томская область
...,...,...,...,...,...,...
110825,29,русский,False,среднее,Рядовой,Республика Адыгея
110826,37,русский,False,среднее,Старший Офицер,Республика Адыгея
110828,34,русский,True,среднее,Прапорщик,Республика Адыгея
110829,21,русский,True,среднее,Ефрейтор,Вологодская область
110830,22,русский,True,среднее,Ефрейтор,Республика Адыгея

In [2]:
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import scale

import warnings
warnings.filterwarnings('ignore')

targets = orcs.age
features = orcs.drop(['age'], axis=1)
features = pd.get_dummies(features)
features

lables = features.columns

length = len(lables)

for i in range(2, 5):
    for label in range(length):
        features[f"{lables[label]}_{i}"] = np.power(scale(features[lables[label]]), i)

features = StandardScaler().fit_transform(features)
features

array([[ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734],
       [ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734],
       [ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734],
       ...,
       [ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734],
       [ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734],
       [ 0.58742396, -0.00544569, -0.00770148, ..., -0.19138372,
        -0.06969354, -0.03872734]])

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, targets, random_state=42)

In [4]:


from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

y_train_prediced = model.predict(x_train)
y_test_prediced = model.predict(x_test)

from sklearn.metrics import r2_score

print("Train R-squared", r2_score(y_train_prediced, y_train))
print("Test R-squared", r2_score(y_test_prediced, y_test))

Train R-squared 0.214391112741397
Test R-squared -5.931198102970825e-05